# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

src/main/resources/*
src/test/resources/*
src/main/java/.DS_Store
src/test/java/.DS_Store
./.idea